Repository docwhat/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, textlint --fix, prettier --write, remark, eslint --fix, yarn run format:packagejson:fix, yarn run format:yarnlock:fix

ci: repair yarn 2 breakage by dependabot
  .github/workflows/dependabot-repair.yaml
Due: none

ci: remove yarn setup junk
  Dockerfile
  package.json
Due: yarn run format:packagejson:fix

ci: remove references to travis
  package.json
  script/env
Due: yarn run format:packagejson:fix

chore: clean up build scripts
  script/build
  script/buildkit
Due: none

style: ignore hadolint suggestion to clean yarn cache
  Dockerfile
Due: none

style: remove deprecated docker container labels
  Dockerfile
Due: none

fix: hide_server_tokens requires a module I dont have
  nginx.conf
Due: none

chore: tinypng some images
  content/posts/40days-simple-isnt-easy/40days.png
  content/posts/amazon/amazon-christ.png
  content/posts/amazon/idontknowchrist.png
  content/posts/chocolatatum-meum-butyro-vecordi-tuo-contaminavisti/pbcups.png
  content/posts/hair-yesterday/after.png
  content/posts/hair-yesterday/before.png
  content/posts/hair-yesterday/during.png
  content/posts/hair-yesterday/hair.png
  content/posts/its_all_text_v06/preview.png
  content/posts/macbook-pro-dual-graphics/graphics2.png
  content/posts/xbox-360-avatars/avatar-body.png
Due: none

node: use bullseye version for sharp dependencies (libvips)
  Dockerfile
Due: none

remark 14 does not have a default import anymore
  src/components/Seo.jsx
Due: prettier --write, eslint --fix

thinko
  script/buildkit
Due: none

fix: some colors in dark mode
  src/utils/colors.js
  src/utils/prism-style.js
Due: prettier --write, eslint --fix

fix: base spacing was not properly mathed from shevyjs
  src/components/BannerImage.jsx
  src/components/Bio.jsx
  src/components/CalendarPage.jsx
  src/components/IconArrows.jsx
  src/components/Layout.jsx
  src/components/LinkButton.jsx
  src/components/PostCard.jsx
  src/components/PostCardList.jsx
  src/components/SmallPrint.jsx
  src/components/TheNet.jsx
  src/pages/email.js
  src/pages/index.jsx
  src/utils/colors.js
  src/utils/prism-style.js
  src/utils/style.js
Due: prettier --write, eslint --fix

stupid legacy peer dependencies
  package-lock.json
  package.json
Due: yarn run format:packagejson:fix

ci: update some actions
  .github/workflows/ci.yml
Due: none

fix: renamed repository so I can use github profile
  README.md
  gatsby/on-create-node.js
  package.json
  src/utils/constants.js
Due: textlint --fix, prettier --write, remark, eslint --fix, yarn run format:packagejson:fix

ci: md link checker should use latest v1
  .github/workflows/link-check.yaml
Due: none

chore: clean up npm lock
  .lintstagedrc
  package-lock.json
Due: none

fix: noted broken links
  content/posts/junkmail/index.md
Due: textlint --fix, prettier --write, remark

build: check links on commit
  .lintstagedrc
  mlc_config.json
  package-lock.json
  package.json
Due: yarn run format:packagejson:fix

fix: blog is gone; links broken
  content/posts/two-ways-to-improve-os-x/index.md
Due: textlint --fix, prettier --write, remark

typo: fix version & missing required fields
  .github/workflows/link-check.yaml
Due: none

ci: debugging/fixing dependabot validator
  .github/workflows/dependabot-validate.yaml
Due: none

ci: fix again
  .github/workflows/dependabot-validate.yaml
Due: none

ci: remove push trigger for dependabot validate
  .github/workflows/dependabot-validate.yaml
Due: none

ci: try npx with textlint
  package.json
Due: yarn run format:packagejson:fix

chore: cleaned up textlint json
  .textlintrc
Due: none

ci: don't run textlint in CI because it breaks
  package.json
Due: yarn run format:packagejson:fix

ci: must skip textlint without non-zero exit code
  package.json
Due: yarn run format:packagejson:fix

chore: force legacy peer deps to always be on
  .npmrc
Due: none

fix: eslint config
  .eslintrc
  package.json
Due: yarn run format:packagejson:fix

fix: cleaned up jsx syntax
  src/pages/all.jsx
  src/pages/archive.jsx
  src/pages/email.jsx
  src/pages/index.jsx
  src/pages/pi/index.jsx
  src/templates/page.jsx
  src/templates/post.jsx
Due: prettier --write, eslint --fix

fix: "No codeFrame could be generated" and react warning
  src/components/PageHeader.jsx
Due: prettier --write, eslint --fix

chore: upgrade to Gatsby 4
  gatsby-config.js
  gatsby/create-pages.js
  gatsby/on-post-build.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, yarn run format:packagejson:fix

fix: add missing .map for reboot css
  static/bootstrap-reboot.css.map
Due: none

feat: upgrade to bootstrap-reboot v4.6.1
  .lintstagedrc
  src/utils/bootstrap-reboot.css
  static/bootstrap-reboot.css.map
Due: stylelint --fix

fix: <script> goes in Helmet
  src/components/JsonLd.jsx
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: (any of: **/*.css) or (any of: **/*.html)
  textlint --fix: any of: **/*.md
  prettier --write: (any of: **/*.md) or (any of: **/*.{js,jsx})
  remark: any of: **/*.md
  eslint --fix: any of: **/*.{js,jsx}
  yarn run format:packagejson:fix: any of: package.json
  yarn run format:yarnlock:fix: any of: yarn.lock
