Repository docwhat/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --allow-empty-input, textlint --fix, prettier --write, remark, npx markdown-link-check --config mlc_config.json, eslint --fix, npm run format:packagejson:fix, npm run format:npmlock:fix

fix: use null for empty or missing components
  src/templates/post.jsx
Due: prettier --write, eslint --fix

chore: disable DEV_SSR; it breaks things
  gatsby-config.js
Due: prettier --write, eslint --fix

fix: wiggling on mobile devices
  src/components/PostCardList.jsx
Due: prettier --write, eslint --fix

fix: archive pages were showing up via the back/forward links on posts
  gatsby/create-pages.js
Due: prettier --write, eslint --fix

style: blockquote was not showing correctly
  src/utils/style.js
Due: prettier --write, eslint --fix

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Swap out twitter for mastodon
  gatsby-config.js
  src/components/Bio.jsx
  src/icons/mastodon.svg
  src/icons/twitter.svg
  src/utils/constants.js
Due: prettier --write, eslint --fix

move docker image to proper namespace in ghcr.io
  .github/workflows/ci.yml
  script/ci-prep.bash
Due: none

style: ENV key=value is the non-legacy syntax
  Dockerfile
Due: none

allow calling CI manually
  .github/workflows/ci.yml
Due: none

add mise config file
  mise.toml
Due: none

add agent TODO
  agent/TODO.md
Due: textlint --fix, prettier --write, remark, npx markdown-link-check --config mlc_config.json

Update @babel packages to latest compatible versions
  .node-version
  agent/TODO.md
  mise.toml
  package.json
Due: textlint --fix, prettier --write, remark, npx markdown-link-check --config mlc_config.json, npm run format:packagejson:fix

Update @emotion packages to latest compatible versions
  agent/AGENT.md
Due: textlint --fix, prettier --write, remark, npx markdown-link-check --config mlc_config.json

Update chalk and caniuse-db to latest versions
  package.json
Due: npm run format:packagejson:fix

Update gatsby and gatsby-cli to latest v4 versions
  package.json
Due: npm run format:packagejson:fix

Update gatsby plugins to latest v4 compatible versions
  package.json
Due: npm run format:packagejson:fix

Update gatsby sitemap and remark plugins
  package.json
Due: npm run format:packagejson:fix

Update gatsby remark and transformer plugins to latest v4 versions
  package.json
Due: npm run format:packagejson:fix

Update moment, react-hot-loader, react-refresh, and remark
  package.json
Due: npm run format:packagejson:fix

Update @babel/eslint-parser and @emotion/eslint-plugin
  package.json
Due: npm run format:packagejson:fix

Update eslint and eslint plugins to latest compatible versions
  package.json
Due: npm run format:packagejson:fix

Update husky, inquirer, lint-staged, and markdown-link-check
  package.json
Due: npm run format:packagejson:fix

Automatic security audit fixes - upgraded to Gatsby v5 and other major updates
  package-lock.json
  package.json
Due: npm run format:packagejson:fix, npm run format:npmlock:fix

Update gatsby plugins to v5 compatible versions
  package.json
Due: npm run format:packagejson:fix

Fix ajv compatibility issue - build now succeeds
  package-lock.json
  package.json
Due: npm run format:packagejson:fix, npm run format:npmlock:fix

Complete Node.js 16→24 upgrade with Gatsby v5
  agent/TODO.md
Due: textlint --fix, prettier --write, remark, npx markdown-link-check --config mlc_config.json

ci: remove hive update step
  .github/workflows/ci.yml
Due: none

Path conditions:
  stylelint --fix --allow-empty-input: (any of: **/*.css) or (any of: **/*.html)
  textlint --fix: any of: **/*.md
  prettier --write: (any of: **/*.md) or (any of: **/*.{js,jsx})
  remark: any of: **/*.md
  npx markdown-link-check --config mlc_config.json: any of: **/*.md
  eslint --fix: any of: **/*.{js,jsx}
  npm run format:packagejson:fix: any of: package.json
  npm run format:npmlock:fix: any of: package-lock.json
